*,
body {
  margin: 0;
  padding: 0;
  background-color: #151518;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  margin-top: 2rem;
  width: 350px;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #46228b;
}

button {
  border-radius: 8px;
  border: 1px solid #46228b;
  background: transparent;

  min-width: 240px;
  color: white;
  font-size: 24px;
  font-weight: bold;

  margin-top: 1rem;
}

button:hover {
  min-width: 280px;
  border: 2px solid #7646ce;
}

p {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 0 1rem;
}

footer {
  color: violet;
  font-size: 18px;
  text-align: center;
  margin-top: 4px;
}

span {
  color: red;
}
