header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border: 1px solid #301c59;
  background-color: black;
  height: 3rem;
}
h1 {
  color: #846dd8;
}

span {
  size: 80px;
  width: 24px;
}
